@import 'tailwindcss';

:root {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
